.custom-body {
  padding: 0 15px 0 15px;
}

.div-menu {
  width: 100%;
  height: 70px;
  background: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.central-menu {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.central-menu > a {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
.app-root {
  background: #000;
}
